.videoSidebar{
position: absolute;
top: 35%;
right: 10px;
color: white;
}

.videoSidebar__options{
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 400px){
   .videoSidebar{ 
    top: 46%;
   }
}